<div class="navbar">
    <a class="navbar-item" href="/">Weather</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/help">Help</a>
    <img class="navbar-icon" src="img/navbar-icon.png" alt="">
</div>

<h1 class="page-title">{{title}}</h1>