body {
    font-family: "Open Sans", sans-serif;
    margin: auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.navbar {
    background-color: #333333;
    height: 75px;
    display: flex;
    position: relative;
}

.navbar-item {
    font-size: 24px;
    font-weight: bold;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    padding: 0 15px 0;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item:hover {
    background-color: #dddddd;
    color: #000000;
}

.navbar-icon {
    height: 70px;
    margin-left: auto;
    margin-right: 15px;
    order: 2;
}

.page-title {
    text-align: center;
    font-size: 52px;
}

.location-input {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: 2px solid;
}

.search-button {
    width: 100px;
    height: 56px;
    font-size: 18px;
    border: 2px solid #333;
    background-color: #dddddd;
    cursor: pointer;
}

.search-button:hover {
    border: 2px solid #ddd;
    background-color: #333;
    color: #dddddd;
}

.additional-info {
    font-size: 20px;
    margin: 5px 0;
}

#message-1 {
    margin-top: 20px;
}

#message-2 {
    margin-bottom: 20px;
}

#map {
    width: 1000px;
    height: 500px;
    margin: 0 auto 20px;
}

.portrait {
    width: 500px;
    height: 400px;
}

footer {
    background-color: #333333;
    height: 75px;
    position: relative;
    display: flex;
    text-align: center;
}

.footer-text {
    color: #dddddd;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 15px 0;
}